page-home {
 
    ion-footer {
        font-size: 0.7em;
        color: #474747;
        background-color: map-get($colors, light);
    }
 
    ion-item-sliding {
        background: linear-gradient(#f2d646, #c932c9);//new
        margin-top: 10px;
        outline: none;//new
        border-color: #c932c9;//new
        box-shadow: 0 0 15px #c932c9;//new
        border-radius: 3px;//new
    }

 
    .holding {
 
        //background-color: #f9f9f9;
        background: linear-gradient(#f2d646, #c932c9);//new
        text-transform: uppercase;
 
        .amount {
            font-size: 0.7em;
        }
 
    }
 
    .value {
        margin-top: 10px;
        font-size: 1.2em;
        color: map-get($colors, secondary);
    }

    #start {
        margin-bottom: 0;    
    }

    
 
}

